<script>
function test() {window.location.href = "http://localhost:4200/pageun/";}
function test2() {window.location.href = "http://localhost:4200";}
</script>

{{page-title "TD3"}}
<button type="button" onclick="test2()">application</button>
<button type="button" onclick="test()">le site</button>
{{outlet}}
